@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300,400,500,600,700,800,900& display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body {
    background-color: #4b4b4b; 
    color: #cac9c9;
}
.navbar{
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    z-index: 999;
    color: #e4a022;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
    border-radius: 10px;
    width: 95%;
  }
  .logo h1{
    color:#e4a022;
    font-size: 25px;
  }
  .navbar a{
    list-style: none;
    display: flex;
  }
  .navbar a{
    display: block;
    color: #e4a022;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  .navbar a i{
    color: #e4a022;
  }
  .navbar a:hover{
    border-bottom: 4px solid #e4a022;
  }
.row{
    display: grid;
    margin: 25px;
    margin-top: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 95%;
}
.about-col-1{
    flex-basis: 50%;
}
.about-col-1 img{
    position: relative;
    display: inline-flex;
    width: 40%;
    height: 500px;
    border-radius: 50%; 
    margin: 15px;
    border: 3px solid #e4a022;
    margin-left: 27%;
    text-decoration: #131212;
}
.about-col-2{
    flex-basis: 50%;
    width: 90%;
    margin-left: 40px;
    font-size: 30px;
}
.about-col-2 h1,  h3{
  color: #e4a022;
}
.about-col-2 p{
  width: 80%;
  text-align: center;
  margin-left: 10%;
}

.skills{
    width: 90%;
    height: 50%;
    margin: 5rem;
    color: #e4a022;
    padding: 5%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: block;
    align-items: center;
}

.skills img{
    margin: 20px 20px;
    padding: 1.5rem;
    width: 200px;
    height: 200px;
    justify-content: space-evenly;
    
  }


  .timeline-container {
    position: relative;
    padding: 40px 40px;
    width: 90%;
    margin-left: 40px;
  }
  

  .timeline-container h1{
    font-size: 36px;
    margin: 10px;
    color: #e4a022;
    text-align: center;
  }
  .timeline-item {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
  }
  
  .timeline-date {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    margin-right: 2rem;
  }
  
  .timeline-content {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
  }
  .timeline-item:hover{
    color: #000;
  }
  
  .timeline-item:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    left: 80px;
    transform: translateX(-50%);
  }

  .home-sci{
    display: inline-flex;
    margin-left: 40%;   
}
.home-sci a{
    position: relative;
    display: inline-flex;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #e4a022;
    border-radius: 50%;
    font-size: 25px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    margin-left: 15px;
    
}
.home-sci a:hover{
    color: var(--bg-color);
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 0;
    height: 100%;
    background: #131212;
    z-index: -1;
    transition: .4s;
}
.home-sci a:hover::before{
    width: 100%;
}