@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300,400,500,600,700,800,900& display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;

}
body {
    height: 100%;
    width: 100%;
    background-color: #4b4b4b;
    color: white;
}
.navbar{
  margin: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  z-index: 999;
  color: #e4a022;
  box-shadow: 0 0 10px rgba(0,0,0, 0.3);
  border-radius: 10px;
  width: 95%;
}
.logo h1{
  color:#e4a022;
  font-size: 25px;
}
.navbar a{
  list-style: none;
  display: flex;
}
.navbar a{
  display: block;
  color: #e4a022;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.navbar a i{
  color: #e4a022;
}
.navbar a:hover{
  border-bottom: 4px solid #e4a022;
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  gap: 10px;
  padding-inline: 2em;
  padding-bottom: 0.4em;
  background-color: #ffffff99;
  border-radius: 20px;
  margin: 2em;
}

.form-heading {
  text-align: center;
  margin: 1em;
  color: #e4a022;
  font-size: 30px;
  background-color: transparent;
  align-self: center;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
  background: none;
  margin: 1em;
  border: none;
  outline: none;
  width: 100%;
  color: white;
  padding-inline: 1em;
  font-size: 16px;
}

.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 3em;
  padding: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  outline: 1px solid #e4a022;
  transition: all ease-in 0.3s;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #ffffff99;
  color: #000;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.form-card2 {
  border-radius: 0;
  transition: all ease-in 0.2s;
  position: relative;
}

.home-sci{
  /* bottom: 40px;
  width: 500px;
  margin-left: 41%;
  display: flex;
  text-align: center; 
  justify-content: space-between;
  justify-items: right; */
  display: inline-flex;
  margin-left: 40%;

  
}
.home-sci a{
  position: relative;
  display: inline-flex;
  align-content: space-evenly;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid #e4a022;
  border-radius: 50%;
  font-size: 25px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
  margin-left: 15px;
  
}
.home-sci a:hover{
  color: var(--bg-color);
}
.home-sci a::before{
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width: 0;
  height: 100%;
  background: #131212;
  z-index: -1;
  transition: .4s;
}
.home-sci a:hover::before{
  width: 100%;
}