* {
  background-color: rgb(255, 234, 164);
  font-family: "Space Mono", monospace;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 94%;
  display: flex;
  justify-content: space-between;
  border: 2px solid #71726e;
  border-radius: 5px;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.navbar a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: ease .3s;
  font-weight: bold; 
}

.navbar a:hover {
  background-color: #71726e;
  color: #333;
}

.logo h1 {
  margin: 0;
}

.nav-menu {
  display: flex;
  gap: 20px;
}

.nav-menu a {
  color: #333;
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #333;
}

@media (max-width: 768px) {
  .nav-menu {
    position: absolute;
    left: 99%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: transparent;
    width: 98%;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    z-index: 101;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu a {
    padding: 16px 0;
  }

  .hamburger {
    display: block;
    z-index: 102;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.container {
  display: block;
  margin-top: 8rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeIn 3s ease-in forwards;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-col-1 {
  flex: 0 0 50%;
  padding: 20px;
  text-align: center;
  opacity: 0;
  transform: translateX(-50px);
  animation: itemFadeIn 0.5s ease forwards;
}

.about-col-1 img {
  max-width: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.about-col-2 {
  flex: 0 0 50%;
  padding: 20px;
  opacity: 0;
  transform: translateX(50px);
  animation: itemFadeIn 0.5s ease forwards;
}
.about-col-2 p {
  width: 100%;
}

.home-sci {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-sci a {
  font-size: 24px;
  margin: 0 10px;
  color: #333;
  transition: color 0.3s ease;
}

.home-sci a:hover {
  color: #007bff;
}

.btn-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-box a {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #333;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.btn-box a:hover {
  background-color: #333;
  color: rgb(255, 234, 164);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes itemFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}