* {
  background-color: rgb(255, 234, 164);
  font-family: "Space Mono", monospace;
  scroll-behavior: smooth;
}

#navbar {
  position: absolute;
  top: 10px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  align-items: center;
  padding: 20px;
  margin: 10px;
  background-color: rgb(255, 234, 164);
  color: #333;
  z-index: 100;
  animation: fadeIn .5s ease-in forwards;
}

#navbar a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: ease .3s;
  font-weight: bold; 
}

#navbar a:hover {
  background-color: #71726e;
  color: rgb(255, 234, 164);
}

.logo h1 {
  margin: 0;
  color: black;
}

.nav-menu {
  display: flex;
  gap: 20px;
}

.nav-menu a {
  color: #333;
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #333;
}

@media (max-width: 768px) {
  .nav-menu {
    position: absolute;
    left: -90%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: transparent;
    width: 95%;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    z-index: 101;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu a {
    padding: 16px 0;
  }

  .hamburger {
    display: block;
    z-index: 102;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
.container {
  display: flex;
  margin-top: 20rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 90%;
  transform: translateY(50px);
  animation: fadeIn 0.5s ease-in forwards;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-col-1 {
  padding: 20px;
  text-align: left;
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeIn 0.5s ease-in forwards;
  width: 30%;
  position: relative;
  z-index: 1;
}

.about-col-1 img {
  max-width: 100%;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 6rem;
  position: relative;
  z-index: 1;
}

.about-col-2 {
  padding: 20px;
  opacity: 0;
  width: 50%;
  transform: translateX(50px);
  animation: fadeIn 0.5s ease-in forwards;
  text-align: left;
  font-size: 24px;
  margin-top: 7%;
  position: relative;
  z-index: 2;
  margin-left: 10px;
}
.about-col-2 h1{
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  padding: 0;

}
.about-col-2 h3{
  font-size: 36px;

  margin: 0;
  padding: 0;
}

.about-col-2 p {
  width: 100%;
  border-radius: 10px;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.btn-box a{
  display: flex;
  justify-content: start;
  margin-top: 20px;
  animation: fadeIn 0.5s ease-in forwards;
}

.about-col-2 a {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #333;
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid #333;
  margin: 0 10px 10px 0;
  transition: background-color 0.3s ease;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .about-col-1,
  .about-col-2 {
    width: 100%;
    text-align: center;
  }

  .about-col-1 {
    z-index: 2;
  }

  .about-col-1 img {
    margin: 4rem;
  }

  .about-col-2 {
    z-index: 1;
  }

  .btn-box {
    justify-content: center;
  }

  .btn-box a {
    margin: 10px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes itemFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#skills {
  width: 90%;
  text-align: center;
  margin: 3%;
  animation: fadeIn .5s ease-in forwards;
  padding: 5px;
  border-radius: 10px;
  font-size: 24px;
}
#skills img{
  width: 20%;
  height: 10%;
  justify-content: space-evenly;
  align-items: center;
}
#project {
  background-color: transparent;
  text-align: center;
  width: 95%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.5s ease-in forwards;
}

#project h1 {
  font-size: 36px;
  margin-bottom: 2rem;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
}

.card {
  width: 100%;
  height: 360px;
  border-radius: 10px;
  padding: 1rem;
  background-color: #272727;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  justify-content: space-evenly;
  margin: 5px;
  font-size: 1.5rem;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.card .info {
  position: relative;
  z-index: 1;
  color: #333;
  background-color: rgb(255, 234, 164);
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s;
  border-radius: 10px;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0);
}

.card .info h1 {
  margin: 0;
  color: #333;
  border-radius: 10px;
}

.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  color: #333;
  border-radius: 10px;
}
.card .info a {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  color: #333;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;

}
.card .info a:hover {
  background: #333;
  color: rgb(255, 234, 164);
}

.card .info button {
  padding: 0.6rem 1.2rem;
  background: transparent;
  margin-bottom: 5px;
  border: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
  border-radius: 5px;
}

/* .card .info button:hover {
  background: #333;
  color: rgb(255, 234, 164);
} */

@media (min-width: 768px) {
  .card {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .card {
    width: 30%;
  }
}

/* Educational styling */
.timeline-container {
  position: relative;
  width: 90%;
  margin:3%;
  padding: 20px 20px;
  animation: fadeIn 0.5s ease-in forwards;
}
.timeline-container h1 {
  text-align: center;
  font-size: 2.5rem;
}

.timeline-line {
  position: absolute;
  width: 4px;
  background-color: #333;
  top: 0;
  bottom: 0;
  left: 20px;
}

.timeline-item {
  padding: 1% 10px;
  position: relative;
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.5s, transform 0.5s;
  display: flex;
  align-items: center;
}

.timeline-item.active {
  opacity: 1;
  transform: translateX(0);
}

.timeline-item::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #333;
  border-radius: 50%;
  left: 10px;
  top: 15px;
  z-index: 1;
}

.timeline-date {
  width: 150px;
  text-align: left;
  padding-right: 20px;
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(255, 234, 164);
  color: #333;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 5px;

}

.timeline-content {
  padding: 20px 30px;
  background-color: rgb(255, 234, 164);
  border: 2px solid #333;
  position: relative;
  border-radius: 6px;
  width: 80%;
  margin-left: 60px;
}

@media (max-width: 768px) {
  .timeline-container {
    padding: 20px;
  }

  .timeline-line {
    left: 20px;
  }

  .timeline-item {
    padding-left: 50px;
    padding-right: 0;
  }

  .timeline-item::before {
    left: 10px;
  }

  .timeline-date {
    width: auto;
    text-align: center;
    padding: 3px;
    font-size: 12px;
    font-weight: normal;
  }

  .timeline-content {
    width: auto;
    margin-left: 40px;
  }
}

/* Contact section */
.contact-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 10px;
  animation: fadeIn .5s ease-in forwards;
}

.contact-info {
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  text-align: left;
  box-shadow: 3px 3px 3px 3px #333;
}

.contact-info h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.contact-info p {
  margin-bottom: 10px;
  font-size: 14px;
}

.contact-info i {
  margin-right: 10px;
  color: #333;
}

.form-card2 {
  background-color: transparent;
  padding: 10px;
  border-radius:8px;
  box-shadow: 3px 3px 3px 3px #333;
  /* border: 2px solid #333; */
  width: 50%;
}
.form-card2 h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}
.form-card2 .input-field {
  background-color: transparent;
  padding: 20px;
  border-radius:8px;
  width: 85%;
  margin: 10px;
}
.form-card2 .sendMessage-btn {
  background-color: transparent;
  padding: 20px;
  border-radius:8px;
  width: 95%;
  margin: 10px;
  color: #333;
}
.form-card2 .sendMessage-btn:hover{
  background-color: #333;
  color: rgb(255, 234, 164);
}

/* Media Queries */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    justify-content: space-between;
  }

  .contact-info {
    width: 85%;
    border-radius: 8px;
    margin: 10px;
  }

  .form-card2 {
    width: 85%;
    border-radius: 8px;
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .contact-info,
  .form-card2 {
    padding: 20px;
    text-align: center;
    margin: 10px;
  }

  .form-heading {
    font-size: 20px;

  }

  .input-field,
  .sendMessage-btn {
    font-size: 14px;
  }
}

.scroll-to-top {
  display: none;
  position: fixed;
  right: 3px;
  bottom: 5px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #333;
  border: none;
  border-radius: 50%;
  border: 2px solid #333;
  cursor: pointer;
  z-index: 100;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.scroll-to-top:hover {
  opacity: 1;
}

.scroll-to-top i {
  font-size: 24px;
  line-height: 20px;
}